@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.weatherEnvironment {
  width: 90%;
  height: 50vh;
  justify-content: center;
  background-color: blue;
  margin: 1rem auto;
  display: flex;
  position: relative;
}

.siteTitle {
  font-family: 'Pacifico', Helvetica, sans-serif;
  color: aliceblue;
}

* {
  font-family: 'Poppins', serif;
}

dialog{
  z-index: 1000;
}

.warningBar{
  background-color: red;
  text-align: center;
}


.background {
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.rock {
  z-index: 1;
  display: block;
  position: absolute;
  bottom: 10%;

  max-width: 245px;
  max-height: 150px;
  width: auto;
  height: auto;
}

nav {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(74, 74, 74);
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;


}

.container {
  display: flex;
  justify-content: flex-end;
  margin: 0 10%;
}


.conditionsTable {
  padding: 0;
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;

  display: flex;
  justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;


}
.weatherreaction{
   margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.belowRockContainer{
  margin: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
}


.snow,
.snow:before,
.snow:after {
  animation: a 6s linear 1e3;
  background: radial-gradient(#dcdcdc, rgba(154, 154, 200, 0) 9%)0 0/3em 3em;
  content: "";
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 8;
}

.snow:before {
  animation-duration: 7s
}

.snow:after {
  animation-duration: 6s
}

@keyframes a {
  to {
    background-position: 3em 9em
  }
}





@media (prefers-color-scheme: dark) {
  html {
    background-color: #1f1f1f;
  }

  nav {
    background-color: #161616;
  }

  h1,
  h2 {
    color: aliceblue;
  }

  thead,
  tbody {
    color: aliceblue;
  }

  .conditionsTable {
    border: 2px solid white;
  }
}









@media (prefers-color-scheme: light) {
  html {
    background-color: #e7e7e7;
  }

  nav {
    background-color: #363636;

  }

  h1,
  h2 {
    color: black;
  }


}

.reactionbuttons{
  display: inline-flex;
}
.material-symbols-outlined {
  font-size: 50px !important;
  border-radius: 1000%;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 100
}




.rain,
.rain:before,
.rain:after {
  animation: rain 3s linear 1e3;
  background: radial-gradient(#4a70ae, rgba(68, 68, 237, 0) 10%)0 0/2em 4em;
  content: "";
  margin: 0;
  
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 8;
}

.rain:before {
  animation-duration: 1s
}

.rain:after {
  animation-duration: 2s
}

@keyframes rain {
  to {
    background-position: 2em 16em
  }
}

